body {
    width: 900px;
    margin: 10px auto;
    border: 1px dashed #7fa446;
    color: #3e3e3e;
    padding: 20px 30px;
}

header {
    text-align: center;
    color:  #7fa446;
    border-bottom: #7fa446 solid 2px;
}